<a href="https://colab.research.google.com/github/DawntoDusk/Code/blob/main/QXQ_HW_Python_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework - Week 1 (Optional Practice)**

---
**Topics Covered in the Homework:**

*   Print functions
*   Variables
*   Arithmetic operators
*   Comparisons
*   Lists
*   Functions



**NOTE:** This Python practice is **optional**. These problems are intended to give you some more practice with the Python concepts we have learned. It is a good idea to try at least one or two problems in each section, but if you are confident with that material then you can skip the rest of the problems and move onto the next section.

---

## **The Print Function**
---

#### **Problem #1:** Print `Hello friends.`

In [1]:
print("Hello friends")

Hello friends

#### **Problem #2:** Print the number `10`.

In [2]:
print(10)

10

#### **Problem #3:** Print the names of three countries.

In [3]:
print("United States of America", "France", "Italy")

United States of America France Italy

#### **Problem #4:** Print the year.

In [4]:
print(2022)

2022

## **Variables**

#### **Problem #1:** Create a variable called `popular_name` and assign it to the name 'Olivia'.

In [ ]:
popular_name = "Olivia"

#### **Problem #2:** Create a variable `birth_year` and set it equal to the year your were born. Then print, `"I was born in <birth_year>"`

In [5]:
birth_year = 2007

In [7]:
print("I was born in "+str(birth_year))

I was born in 2007

#### **Problem #3:** Create a variable `name` and assign it to your name. Print `name`.

In [9]:
name = "Anshu"

In [10]:
print(name)

Anshu

#### **Problem #4:** Label the following data types.

**NOTE**: You can change the text below by double clicking on the cell.

```
2 - integer
8.9 - float
"Train" - String
["string"] - List
5.0 - float
```

#### **Problem #5:** Using only variables, print the statement `"I love coding"`.

In [11]:
string = "I love coding"

In [12]:
print(string)

I love coding

## **Arithmetic**

#### **Problem #1**: Print the result of 6 divided by 3.

#### **Problem #2**: Print 2 + 2.

####  **Problem #3:** Use code to solve this problem: Jenny had 25 marbles. She received ten more from her best friend, Alexa. Jenny's younger brother took 20 marbles from Jenny's room. How many marbles does Jenny have now?

## **Comments and Debugging**

####  **Problem #1**: The code below is intended to output the number 6, but this doesn't happen when you run it (try it for yourself). Correct the code so that it works properly.

In [ ]:
x = 12
y = 2
print("x / y")

x / y

####  **Problem #2**: Identify the errors in the following code:

In [ ]:
question = What is a collection of quantum gates called?
Print(“My question is “ + question)

## **Comparisons**

#### **Problem #1:** What will the following code output?
```python
num_chairs = 4
num_people = 6

print("Do we have enough chairs for everyone? " + str( num_chairs >= num_people ))
```

#### **Problem #2:** Which of the following statements is `True` given this declaration of variables?
```python
rocks = 4
paper = 2
scissors = 11
```


A) `rocks < paper`

B) `rocks >= rocks`

C) `scissors > paper`

D) `paper != scissors`

#### **Problem #3:** Will the following output be `True` or `False`?

In [ ]:
apples = 15
oranges = 12
apples >= oranges

## **Lists**
---

Use the list `temperatures` below to answer Problems #1-4.

In [ ]:
temperatures = [60, 66, 42, 38, 71]

#### **Problem #1:**  Replace `42` with 50.

#### **Problem #2:** Drop value 71.

#### **Problem #3:** Add value 65.

#### **Problem #4** Replace 65 with 85.

Use the list `subjects` below to answer Problems #5-9.

In [ ]:
subjects = ["Math", "Physics", "Chemistry", "Biology"]

#### **Problem #5:** Add Calculus.

#### **Problem #6:** Drop Math.

#### **Problem #7:** Replace Physics with AP Physics.

#### **Problem #8:** Replace Biology with AP Bio.

#### **Problem #9:** Drop Calculus.

Use the list `attendance` below to answer Problems #10-14.

In [ ]:
attendance = ["Ellie", "Kyle", "Deiondre", "Zoe", "Joaquin", "Jo", "Liv"]

#### **Problem #10:** You forgot to add a student. Add Valentina.

#### **Problem #11:** Joaquin accidentally got marked present when he is absent. Remove Joaquin.

#### **Problem #12:** It looks like one fo the names wasn't typed correctly. Change "Jo" to "Josh".

#### **Problem #13:** Kyle prefers going by Ky. Update the attendance to reflect this preference.

#### **Problem #14:** Another student arrived. Add Akilah to the attendance.

## **Defining Functions**
---

#### **Problem #1.** How many parameters does the following function have?

```
def hello():
  print("Hello!")
```

#### **Problem #2:** Looking at the following function, describe what it will do when called.
```
def mystery(x, y):
  print(x + y)
```

#### **Problem #3:** How many paramters does the following function have?
```
def params(param):
  print("You passed " + str(param) + " as a parameter")
```

#### **Problem #4:** Fill in the following function so it will add the first two numbers, then subtract the third and print the result.

In [ ]:
def math_func(num1, num2, num3):
  #add code here

#### **Problem #5:** Fill in the following function so it prints the two names in the format: `"Name One: <name1>, Name Two: <name2>"`

In [ ]:
def two_names(name1, name2):
  #add code here

#### **Challenge Problem:** Create a function that accepts two strings and prints both of them with a space between them.

#### **Challenge Problem:** Write a function that accepts two parameters. One being a list, and the other an item to add to the list. Add the item to the list, then print this new list.

In [ ]:
def add_to_list(list_name, item):
  #add code here

---
Copyright 2022 The Coding School, All rights reserved